body{
  color: white;
}
.login-page > h2{
  font-family: heverly;
  font-size: 6vw;
  letter-spacing: 2px;
}
.login-page > form > div > input {
  width: 25vw;
  height: 7vh;
  font-size: 1.3vw;
  padding-left: 15px;
  color: white;
  background: none;
  border: 1px solid white;
}

.login-page > form > div{
  padding-top: 3%;
}

.login-page > form > h2 {
  font-family: heverly;
  font-size: 3vw;
}
.login-form-btn{
  margin: 4vh 0;
  border-radius: 8px;
  width: 14vw;
  height: 6vh;
  background-color: rgb(58, 97, 255);
}

.login-google-btn{
  margin-top: 2vh;
  border-radius: 8px;
  width: 14vw;
  height: 6vh;
}

.space{
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
