*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    background-color: black;
    text-align: center;
  }
  h1{
    text-align: center;
  }

  body::-webkit-scrollbar{
    display: none;
  }

  .navbar{
    padding: 6vh 6vw;
    display: flex;
    justify-content: space-between;
  }
  .logopic{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .nav-icons{
    width: 24vw;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-icons button{
    cursor: pointer;
    border: none;
    color: white;
    background: none;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .user-btn{
    display: flex;
    justify-content: space-between;
    width: 15vw;
  }
  
  .user-btn button{
    cursor: pointer;
    background: none;
    color: white;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .login-btn{
    border: none;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .sign-up{
    border-radius: 50px;
    width: 8vw;
    border: 1px solid white;
    font-size: 0.3rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  
  .main::-webkit-scrollbar{
    display: none;
  }
  h1{
    font-family: heverly;
    font-size: 20vw;
    color: white;
    font-weight: 100;
    text-align: center;
  }
  
  .hero-img{
    margin: 0 auto;
  }
  .img-layer{
    margin: 0 auto;
  }
  
  h6{
    margin-top: 3vh;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
    opacity: 0;
  }
  
  .final-state {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .discover-section{
    display: flex;
    justify-content: space-evenly;
  }
  
  .sub-heading{
    font-family: heverly;
    font-size: 6rem;
    font-weight: 500;
  }
  .discover-section-text{
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 30vh;
  }
  
  .discover-section-text > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a1a1a1;
    font-size: 1.5rem;
  }
  
  
  .discover-section-text > h5{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dcdcdc;
    font-weight: 300;
  }
  
  .box-div{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: 10vh;
  }
  .grey-box{
    background-color: #222222;
    width: 60vw;
    height: 60vh;
    border-radius: 50px;
  }
  
  .testimonial-section-text > h5 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dcdcdc;
    font-weight: 300;
  }
  body.parallax-active {
    overflow: hidden;
  }
  
  
  .frame{
    background-image: url(../src/assets/frame.png);
    height: 446px;
    width: 333px;
    padding: 50px;
  }
  
  
  .frame-div{
  
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 10vh;
  }
  
  .featured-section{
    justify-content: center;
    flex-direction: column;
  }
  
  
  .testimonial-section{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .featured-section-text > h5{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dcdcdc;
    font-weight: 300;
  }

  .artwork img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
  .artworks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
  }
   
  .artwork {
    margin-bottom: 10px;
  }

  .container {
    margin: 0 10vw;
    padding-top: 20px;
  }

@media screen and (min-width: 768px) {
  .artworks {
    grid-auto-rows: 200px; /* Set a fixed height for each row */
  }
}

@media screen and (min-width: 800px) {
  .artworks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .artworks {
    grid-template-columns: repeat(3, 1fr);
  }
}

  @media screen and (max-width: 1200px){
    .nav-icons{
      
      margin-top: 15vh;
      position: fixed;
      height: 30%;
      flex-direction: column;
    }
  }



  @media screen and (max-width: 1150px) {
    .container {
      padding: 0 2rem;
    }
  
    h1 {
      font-size: 12vw;
    }
  
    .artworks {
      grid-template-columns: repeat(2,1fr);
      gap: 0.5rem;
    }
  }

  @media screen and (max-width: 950px){
    .frame{
      width: 330px;
      height: 430px;
    }
    .logo-div{
      margin-left: 20vw;
    }
  }
  
  
  @media screen and (max-width: 800px){
    .artworks {
      grid-template-columns: repeat(1,1fr);
      gap: 0.5rem;
    }
    
  }



  @media screen and (max-width: 500px){
    .artworks {
      grid-template-columns: repeat(1,1fr);
      gap: 0.5rem;
    }
  }

  .hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .navbar {
    position: relative;
    z-index: 1;
  }
  
  .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.695);
    z-index: 0; 
    display: none;
  }
  
  .nav-icons {
    position: relative; 
    z-index: 1; 
  }
  @media screen and (max-width: 1200px) {

    .logo-div{
      margin-left: 41vw;
      justify-content: center;
      align-items: center;
    }

    .nav-icons {
      margin-top: 15vh;
      position: fixed;
      height: 30%;
      flex-direction: column;
    }
  
    .blur-overlay.active {
      display: block;
    }
  }

  @media screen and (min-width: 1200px){
    .logo-div{
      padding-right: 16vw;
    }
  }

  .hamburger-menu{
    margin-top: 1.5vh;
    position: fixed;
    z-index: 1;
  }
  
  .discover-hero-text{
    font-size: 80px;
    margin-bottom: 10vh;
  }
  @media screen and (max-width: 500px){
    .clerk-btn{
      margin-left: '100px';
    }
  }
  
  @media screen and (max-width: 600px){
    .discover-hero-text{
      font-size: '100px';
    }
  }
  @media screen and (max-width: 420px){
    .discover-hero-text{
      margin-left: 30px;
    }
  }

  .carousel-div{
    background-color: #222222;
    margin: 0 15%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
  }
.carousel-header{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0;
}


.carousel-body{
  padding: 5%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  padding: 20px;
  border-radius: 20px;
  max-height: 60vh;
  height: 60vh;
  max-width: 50vw;
  width: 50vw;
  z-index: 1000;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 70%;
}


.form-input{
  width: 20vw;
  height: 4vh;
  border-radius: 5px;
}

.modal > form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description-input{
  height: 10vh;
  width: 20vw;
  max-width: 20vw;
  max-height: 10vh;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 4px;
  font-size: 16px;
}

.modal > form > button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-family: Helvetica;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.modal > h2 {
  font-family: heverly;
  letter-spacing: 8px;
  font-size: 3vw;
}

.modal > form > div > h3 {
  font-family: Helvetica;
  font-size: 1.4vw;
}

.modal > form > div > input {
  font-family: Helvetica;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0 5px;
  outline: none;
  font-size:16px;
}

.upload-button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 15vw;
  height: 7vh;
  left: 80%;
  top: 85%;
  color: white;
  font-family: heverly;
  font-size:2vw;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 1vh;
  border-radius: 50px;
  border: none;
  background-color: #222222;
  border: 3px solid #f6c605;
}

.creators-title{
  font-size: 10vw;
}

.user-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}


.testimonials-div{
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  row-gap: 8vh;
}
.testimonial-grid-container{
  background-color: #222222;
  border-radius: 20px;
  height: 50vh;
  width: 28vw;
  color: white;
}

.test-title{
  font-size: 2vw;
  font-family: heverly;
  letter-spacing: 2px;
  border-bottom: 1px solid white;
  font-weight: 600;
}

.test-body{
  font-weight: 100;
  padding: 5%;
  font-family: Helvetica;
  font-size: 1.5vw;
  letter-spacing: 1px;
}

.testimonial-box-body{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 64%;
}

.testimonial-box-rating{
  font-size: 3vw;
  border-top: 1px solid white;
}

.testimonial-header{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: heverly;
  font-size: 2vw;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
}

.profile-name{
  color: white;
  font-size: 7vw;
  font-family: heverly;
}

.profile-pic{
  border-radius: 50%;
  width: 20vw;
}

.forums-title{
  font-size: 8vw;
}

.forums-body{
  color: white;
  margin: 0 8vw;
}

.forums-grid-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: #222222;
  border-radius: 38px;
  margin-bottom: 100px;
}

.forums-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 8vh;
  border-bottom: 1px solid #525252;
}

.forums-header-left{
  display: flex;
  align-items: center;
  width: 24vw;

}

.forums-header-left > h2 {
  color: #FFF;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.forums-header-user > h3 {
  color: #FFF;
  font-family: "Inria Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.forums-header > h3 { 
  color: #FFF;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.forums-header-user{
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forums-header-user > h3{
  margin-left: 1vw;
}

.forums-question{
  display: flex;
  padding: 1% 2%;
  font-size: 2vw;
  height: 25vh;
  font-family: "Franklin Gothic Medium Cond";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forums-footer{
  border-top: 1px solid #525252;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6vh;
}

.forums-footer > div {
  margin-right: 6vw;
}

.forums-footer-likes{
  display: flex;
  align-items: center;
}

.forums-footer-replies{
  display: flex;
  align-items: center;
}

.forums-footer-views{
  display: flex;
  align-items: center;
}

.forums-footer-likes > h4 { 
  margin-left: 10px;
}
.forums-footer-replies > h4 { 
  margin-left: 10px;
}
.forums-footer-views > h4 { 
  margin-left: 10px;
}

.forums-footer-likes img {
  cursor: pointer;
}

.cl-internal-uyu30o{
  display: none;
}

.cl-internal-b3fm6y{
  display: none;
}
  
.cl-internal-hegiim{
  display: none;
}

.discover-popular-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding:  0 5vw;
  gap: 30px;
  margin-bottom: 8vh;
}

.discover-popular-card{
  padding: 10%;
  height: 300px;
  width: 420px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.discover-popular-card-1{
  background: url(./assets/popular3.png); 
}
.discover-popular-card-2{
  background: url(./assets/popular2.png);
}
.discover-popular-card-3{
  background: url(./assets/popular1.png);
}

.discover-popular-card-title{
  font-size: 35px;
  font-family: Helvetica;
  color: white;
  font-weight: 100;
  text-align: left;
}

.discover-popular-card-button{
  width: 80px;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 230px;
  left: 45px;
}

.discover-popular-card-title {
  z-index: 1;
  margin-bottom: 40px;
}

.discover-popular-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.discover-popular-card:hover .discover-popular-card-overlay {
  opacity: 1;
}

.discover-popular-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  opacity: 0;
}

.discover-hero-text{
  font-size: 4vw;
}

.discover-categories-popular-subtitle{
    color: white;
  letter-spacing: 0.5px;
  font-size: 1.3vw;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 3vh;
}

.discover-medium-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  padding: 0 13vw;
}

.discover-medium-card{
  cursor: pointer;
  height: 100px;
  background-color: #525252;
  width: 200px;
  border-radius: 15px;
  min-height: 110px;
}

.discover-medium-card-1{
  background: url(./assets/medium1.png);
}

.discover-medium-card-2{
  background: url(./assets/medium2.png);
}
.discover-medium-card-3{
  background: url(./assets/medium3.png);
}
.discover-medium-card-4{
  background: url(./assets/medium4.png);
}
.discover-medium-card-5{
  background: url(./assets/medium5.png);
}

.discover-medium-card-title{
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 100;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


.discover-medium-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden; /* Ensure overflow is hidden to prevent glitches */
}

.discover-medium-card:hover .discover-medium-card-overlay {
  opacity: 1;
}

.discover-medium-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  opacity: 0; /* Initially hidden */
}

.discover-medium-card-title {
  color: white;
}

.discover-medium-card-button {
  cursor: pointer;
  padding: 3%;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.discover-medium{
  margin-bottom: 10vh;
}

.discover-explore-btn{
  margin-bottom: 7vh;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
}

.thumbs{
  display: none;
}

.carousel-div{
  margin-top: 5vh;
  padding: 0 0;
}

.home-testimonial-container{
  
  height: 70vh;
  background-color: #222222;
  border-radius: 50px;
}

.home-testimonial-container-header{
  display: flex;
  padding: 3vh 3vw;
  font-size: 2.5vw;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.home-testimonial-container-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
}

.home-testimonial-title{
  display: flex;
  border-bottom: 1px solid white;
  height: 10vh;
  font-size: 2.5vw;
  width: 100%;
  padding: 2.5vh 4vw;
}

.home-testimonial-content{
  display: flex;
  font-size: 1.5vw;
  width: 100%;
  padding: 2.5vh 4vw;
}

